<h2 mat-dialog-title>Register Student</h2>
<hr>

<div mat-dialog-content>
  <form action="" [formGroup]="studentForm">
    <mat-form-field appearance="outline">
      <mat-label>Student Name</mat-label>
      <input matInput placeholder="Enter your name" formControlName="name">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Student Email</mat-label>
      <input matInput placeholder="Enter your email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Choose course</mat-label>
      <mat-select placeholder="course" formControlName="course">
        <mat-option value="full-stack">Full-Stack </mat-option>
        <mat-option value="mern stack" >MERN Stack</mat-option>
        <mat-option value="mean stack">MEAN Stack</mat-option>
        <mat-option value="ui/ux">UI/UX</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Addmission  date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label id="example-radio-group-label">Addmission Status</label>
    <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group" formControlName="status">
        <mat-radio-button class="example-radio-button" *ngFor="let status of addStatus" [value]="status">
            {{status}}
        </mat-radio-button>
    </mat-radio-group>

      <mat-form-field appearance="outline">
        <mat-label>Fees</mat-label>
        <input type="number"matInput placeholder="student name" formControlName="fees">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="msg"></textarea>
      </mat-form-field>


  </form>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="PostData()">Submit</button>
  <button mat-raised-button color="warn" mat-dialog-close >Cancel</button>
</div>