<div class="container">
  <img [src]="food.imageUrl" [alt]="food.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>

      <span class="favorite {{ food.favorite ? '' : 'not' }}">
        <i class="bi bi-heart-fill"></i>
      </span>
    </div>

    <div class="stars">
      <star-rating
        [value]="food.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="22px"
        [readonly]="true"
      >
      </star-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{ origin }}
      </span>
    </div>

    <div class="tags">
      <span *ngFor="let tag of food.tags">
        {{ tag }}
      </span>
    </div>

    <div class="cook-time">
      <span>
        Time taken to cook <strong>{{ food.cookTime }}</strong> minutes
      </span>
    </div>

    <div class="price">
      <span> {{ food.price | currency }} </span>
    </div>
    <button (click)="addToCart()">Add to cart</button>
  </div>
</div>
