<!-- <app-nav></app-nav>
<app-about></app-about>
<app-contact></app-contact> -->

<!-- 
#   - variable name
[]  - property binding
()  - event binding
[()] - two way binding
 *  - structural Directives
{{}} - string interpolation 

interpolation: displays the value of var in the corresponding component template
property binding: binds the value of var to the corresponding property of the element in the component template
event binding: binds the value of var to the corresponding event of the element in the component template
two way binding: binds the value of var to the corresponding property of the element in the component template & binds the value of the element to the var in the component
structural Directives: binds the value of var to the corresponding property of the element in the component template and also binds the value of the element to the var in the component
-->

<!-- Structural Directives: NgIf,NgFor,NgSwitch .We use it with * as prefix.
    With <ng-template>, you can define template content that is only being rendered by Angular when you, whether directly or indirectly, 
    specifically instruct it to do so, allowing you to have full control over how and when the content is displayed.
-->
<!-- <hr>
<h3 style="background-color: aqua;"> ngIf </h3>
<input type="radio" name="radio1" (click)="ishandle(true)">True
<input type="radio" name="radio1" (click)="ishandle(false)">False

!-- ngIf -->
<!--<div *ngIf="isvalid then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h2 style="color: blue;">I am True Block</h2>
</ng-template>    

<ng-template #elseBlock>
    <h2 style="color: red;">I am False Block</h2>
</ng-template> 

<hr>
<h3 style="background-color: aqua;"> ngSwitch </h3> -->
<!-- ngSwitch -->
<!-- <select (click)="selectValue($event)">
    <option value="one">First</option>
    <option value="two">Second</option>
    <option value="three">Third</option>
    <option value="four">Four</option>
    <option value="five">Five</option>
</select>

<div [ngSwitch]="choose">
    <h2 *ngSwitchCase="'one'">First Block</h2>
    <h2 *ngSwitchCase="'two'">Second Block</h2>
    <h2 *ngSwitchCase="'three'">Third Block</h2>
    <h2 *ngSwitchCase="'four'">Four</h2>
    <h2 *ngSwitchCase="'five'">Five</h2>
    <h2 *ngSwitchDefault>Default</h2>
</div>    
<hr> -->

<!-- ngFor -->
<!-- <h3 style="background-color: aqua;"> ngFor </h3>

<h2>Sr.    Name       Marks       Even      Odd     First     Last</h2><hr>
<div *ngFor="let s of students; let i=index; let e =even; let o=odd; let f=first; let l=last">
    <h2> {{i+1}}. {{s.name}} - {{s.marks}} ...{{e}} ...{{o}} ...{{f}} ...{{l}}</h2>
</div>
<hr> -->

<!-- ngStyle -->
<!-- <h3 style="background-color: aqua;"> ngFor </h3>

<table  class="table" border="1px" [cellPadding]="10" [cellSpacing]="25">
       <thead class="thead-light"> 
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of Employe, getTrackByMethod">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.desg}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.age}}</td>
        </tr>
        </tbody>
</table>
<button class="btn btn-primary" (click)="getMoreEmploye()">Add New Employees</button>
<hr>

<ul>
    <li *ngFor="let c of countryDetails" class="text-danger">
        {{c.country}}
    <ul>
        <li  *ngFor="let p of c.people" class="text-primary">
            {{p.name}} 
        </li>
    </ul>
    </li>
</ul>  -->

<!-- Attribute Directive -->
<!-- <ul>
    <li *ngFor="let p of person && let c of countryDetails"  [ngClass]="{'text-danger': c.country==='India', 
        'text-primary':c.country==='UK',
        'text-danger':c.country==='USA'}">
        {{c.country}} ====> {{p.name}}</li>
</ul>       -->

<nav class="nav">
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/firstapp/src/index.html']">Home</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link"[routerLink]="['about']" >About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"[routerLink]="['contact']" >Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['nav']" >Navigate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"[routerLink]="['saving']" >Saving Acc</a>
    </li>   
    <li class="nav-item">
        <a class="nav-link"[routerLink]="['current']" >Current Acc</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['admin/login']">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['admin/list']">List</a>
    </li> -->
     
  </ul>
</nav> 
<router-outlet></router-outlet>   

<!-- Two way Data Binding -->

<input type="text" [(ngModel)]="data">
<h2> {{data}} </h2>

<!-- temple-driven form -->
<form #regForm="ngForm" (submit)="RegisterForm(regForm)">
    <diV>
        <input type="text" ngModel placeholder="Enter UserName" #username="ngModel" required name="username">
        <span class="text-danger" *ngIf="username.touched"> Please Enter your Usernme</span>
    </diV>

    <div>
        <input type="email" ngModel placeholder="Enter Email" email #email="ngModel" required name="email">
        <span class="text-danger" *ngIf="email.touched && !email.valid"> Please Enter your Email</span>
    </div>
    
    <div>
        <input type="password" ngModel placeholder="Enter Password" #password="ngModel" required name="password">
        <span class="text-danger" *ngIf="password.touched"> Please Enter Password</span>
    </div> 
    <br>
    <button  type="submit" class="btn btn-primary" id="Register"
    [disabled]="!regForm.valid">Register</button>

</form>    

<hr>

<!-- // Reactive form  - in form  -->
<div class="container">
    <div class="row">
        <form  [formGroup]="form" (submit)="submit()">
           
            <div class="form-group">

                <label for="username">Username: </label><br>
                <input type="text" formControlName="name" id="name" placeholder="Enter Username">
                <div class="text-danger" *ngIf="f['name'].touched && f['name'].invalid">
                    <div class="text-danger" *ngIf="f['name'].errors?.['required'].minLength(3)">
                        Username is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label><br>
                <input type="email" formControlName="email" id="email" placeholder="Enter Email">
            </div>

            <div class="form-group">
                <label for="msg">Message: </label> <br>
                <input type="text" formControlName="msg" id="msg">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
    </div>
</div>

<!-- Input & Output decorators-->
<div class="parent">
    <h2>Parent Component</h2>
    <ul>
        <li *ngFor="let bev of beverages">
            {{bev}}
        </li>
    </ul>
    <app-beverages [beverages]="currentBevarages"
    (newBeveragesEvent)="addnewBevarage($event)"></app-beverages>
</div>

<!-- jquery code -->
<!-- <div style="border:1px solid red; border-radius:20px; 
 background-color: skyblue; width: 500px; height: 200px;">
    <h2 style="color:red; postion:relative; margin-top:10px;">jQuery</h2>
</div>
<button class="btn btn-primary" >Click</button> -->

<br>
<hr>
<app-parent-lifecycle-hooks></app-parent-lifecycle-hooks>

<hr>
<app-view-child></app-view-child>