<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 pt-5" style="height: 100vh; background-color: grey">
      <div class="card">
        <mat-card>
          <form [formGroup]="signUP">
            <mat-form-field appearance="outline">
              <mat-label>Task to be create</mat-label>
              <input
                matInput
                placeholder="Add new Task"
                formControlName="task"
              />
              <br />
              <mat-hint>Add task</mat-hint>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              *ngIf="!isEditEnabled"
              (click)="addTask()"
              style="margin-right: 10px"
            >
              Add
            </button>
            <button
              mat-raised-button
              color="primary"
              *ngIf="isEditEnabled"
              (click)="updateTask()"
            >
              Update
            </button>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-9">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-lg-3">
            <div class="example-container">
              <h2 style="background-color: rgb(78, 156, 234)">
                List of Tasks -
                <span
                  class="badge badge-light"
                  *ngIf="tasks.length > 0"
                  style="font-weight: bold"
                  >{{ tasks.length }}</span
                >
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of tasks; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <button mat-raised-button (click)="deleteTask(i)">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>

                  <button mat-raised-button (click)="editTask(item, i)">
                    <mat-icon color="primary">edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="example-container">
              <h2 style="background-color: rgb(236, 238, 64)">
                Inprogress Tasks -
                <span
                  class="badge badge-light"
                  *ngIf="Inprogress.length > 0"
                  style="font-weight: bold"
                  >{{ Inprogress.length }}</span
                >
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="Inprogress"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of Inprogress; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <button mat-raised-button (click)="deleteTaskInprogress(i)">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="example-container">
              <h2 style="background-color: rgb(80, 235, 103)">
                Tasks Completed -
                <span
                  class="badge badge-light"
                  *ngIf="Done.length > 0"
                  style="font-weight: bold"
                  >{{ Done.length }}</span
                >
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="Done"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of Done; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <button mat-raised-button (click)="deleteTaskDone(i)">
                    <mat-icon style="color: green;">done_outline</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>